@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body,
input{
    font-family: 'Poppins', sans-serif;
}

.container{
position: relative;
width:100%;
background-color: #fff;
min-height: 100vh;
overflow: hidden;
}

.forms-container{
position: absolute;
width 100%;
height: 100%;
top: 0;
left: 0;
}



form {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0 5rem;
grid-column: 1 / 2;
grid-row: 1 / 2;
}

.title{
 font-size: 2.2rem;
 color: #444;
 margin-bottom: 10px;

}

.input-field{

max-width: 380px;
width:100%;
height: 55px;
background-color: #f0f0f0;
margin: 10px 0;
border-radius: 55px;
display: grid;
grid-template-columns: 15% 85%;
padding: 0 0.4rem;
position: relative;

}

.input-field i{

text-align: center;
line-height: 55px;
color: #acacac;
font-size: 1.5rem;

}

.input-field input{

background: none;
outline: none;
border: none;
line-height: 1;
font-weight: 600;
font-size: 1.2rem;
color: #333;

}

.input-field input:placeholder-shown{

color: #aaa;
font-weight: 500;

}


.btn {

width: 150px;
height: 49px;
outline: none;
border: none;
border-radius: 48px;
background-color: #20bdc2;
color: white;
text-transform: uppercase;
font-weight: 600;
margin: 10px;
transition: all 0.5s;

}

.btn:hover{
background-color: #00bfa6;

}

.signin-signup{
position: absolute;
top: 50%;
left: 75%;
transform: translate(-50%, -50%);
display: grid;
grid-template-columns: 1fr;
z-index: 5;

}

form.sign-in-form{

z-index: 2;
pointer-events: all;


}


form.sign-up-form {
z-index: 1;
opacity: 0;

}

.panels-container {

position: absolute;
width: 70%;
height: 100%;
top: 0;
left: 9;
display: grid;
grid-template-columns: repeat(2,1fr);

}

.image {
width: 160%;
transition: 1.1s 0.4s ease-in-out;
}

.panel {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
z-index: 10;

}



/*


.image {
width: 100%;
transition: 1.1s 0.4s ease-in-out;


}

.panels-container {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
display: grid;
grid-template-columns: repeat(2,1fr);

}

.panel {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
z-index: 7;

}

.left-panel{
padding: 3rem 17% 2rem 12%;

}

.right-panel{
padding: 3rem 12% 2rem 17%;

}

.panel .content{
 color: #fff;
transition: 0.9s 0.6s ease-in-out;
}

.panel h3 {
font-weight: 600;
line-height: 1;
font-size: 1.5rem;

}

.panel p{
 font-size:  0.95rem;
 padding: 0.7rem 0;
}

.btn.transparent{
margin: 0;
background: none;
border: 2px solid #fff;
width: 130px;
height: 41px;
font-weight: 600;
font-size: 0.8rem;

}


.right-panel .content,
.right-panel .image {

transform: translateX(800px);
}

 animation
.container.sign-up-mode::before {

transform: translate(100%, -50%);
right: 52%;

}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content{
transform:  translate(-800px);

}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content{

transform: translateX(0%);

}

.container.sign-up-mode .left-panel{

pointer-events: none;

}

.container.sign-up-mode .right-panel{
pointer-events: all;

}

.container.sign-up-mode .signin-signup{
left: 25%;

}

*/
